<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Race:</strong>
  <%= @pet.race %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @pet.birthdate %>
</p>

<h2>Historial</h2>
<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Descripción</th>
      <th>Peso</th>
      <th>Altura</th>
    </tr>
  </thead>

  <tbody>
    <% @pet.pet_histories.each do |pet_history|%>
    <tr>
      <td><%= pet_history.created_at %></td>
      <td><%= pet_history.description %></td>
      <td><%= pet_history.weight %></td>
      <td><%= pet_history.heigth%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Peso promedio</th>
      <th>Altura promedio</th>
      <th>Peso Máximo</th>
      <th>Altura Máxima</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @pet.avg_weight %></td>
      <td><%= @pet.avg_height %></td>
      <td><%= @pet.max_weight %></td>
      <td><%= @pet.max_height%></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit pet', edit_client_pet_path(@pet.client, @pet) %> |
<%= link_to 'New Pet History', new_pet_history_path %> |
<%= link_to 'Back', client_pets_path(@client) %>
